/* Navigationav */
#navbar{
    flex-direction: column;
}
/* Home sectiob */
#home{
    height: 280px;
}

#home::before{
    height: 370px;
}

/* Services section */
#services{
    flex-direction: column;
}

#services .box{

}

/* Client section */
#clients{
    overflow: hidden;
}

/* Contact section */


/* Footer */

